/*body{
font-family: 'Montserrat' !important;
font-size: .9rem;
#8764AA - Purple
#4C78A4 - Blue
#2B9392 - Green
#5fb774 - Light Green
}*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
html,
body {

}

label{
  font-weight: 200;
  font-size: 14px;
}

.col-form-label
{
  font-size: 13px;
}

.business-income-name-input
{
  /* margin-left: 10px; */
  width: 480px;
}

.business-income-date-input
{
  width: 200px;
}

.business-income-date-input
{
  width: 200px;
}

.button-flex
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-info{
  color: #5b7ca3;
  font-size: .8em;
  font-weight: 200;
  text-align: justify;
}

.rental-multibusiness-toggler
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 26px;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  background-color: rgb(237, 234, 234);
}

.multibusiness-toggler-right button{
  font-size: 13px;
}

.multibusiness-toggler-right .fa-plus
{
  color: white;
  border-radius: 20px;
  padding: 5px;
  background-color: green;
}

.multibusiness-toggler-right .fa-trash
{
  color: green;
}

/* multibutton select css */
/* new */
.my-container{width: 250px; height: 38px; margin: 100px auto;}

div label input {margin-right: 100px;}

.multi-year-options
{
  display: flex;
  column-gap: 10px;
}

.multi-year-btn-container
{
  position: relative;
}

.multi-year-btn{
  margin: 2px;
  border-radius: 5px;
  color: #6c757d;
  border: 1px solid #6c757d;
  overflow: hidden;
  float: left;
}

.multi-year-btn label {
  width: 70px;
  height: 40px;
}

.multi-year-btn label span {
  text-align: center;
  padding: 10px;
  display: block;
}

.multi-year-btn label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.multi-year-btn label input + span
{
  color: #6c757d;
  font-weight: 400;
  font-size: 15px;
}


.multi-year-btn input:checked + span {
    color: #fff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}

.action span
{
  transition: color 0.5s, background-color 0.5s;
}

.action input:hover + span
{
  background-color: #8764AA;
  color: #fff;
}

.action input:checked + span
{
  background-color: #8764AA;
  color: #fff;
}

.completed-year-check-mark
{
  position: relative;
  top: -10px;
  padding: 5px;
  background: green;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 8px;
  z-index: 99999;
  color: white;
  right: 14px;
  width: 20px;
}
/* end of multibutton select */

.rental-short-input
{
  width: 200px;
}

.rental-semi-input,.business-income-semi-input
{
  width: 300px;
}

.rental-medium-input, .business-income-medium-input
{
  width: 400px;
}

.rental-multibusiness-toggler .business-income-date-input
{
  border: 0px;
  color: green;
  border-bottom:2px solid green;
  padding-bottom: 5px;
}

.account-select select
{
  border: 0px;
  color: green;
  border-bottom:2px solid green;
  padding-bottom: 5px;
}

.section-header
{
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(74, 124, 233);
  font-size: 16px;
  margin-bottom: 20px;
}

.info-group p
{
  color: rgb(74, 124, 233);
}

.info-group span
{
  margin-left: 5px;
}

.info-group span i
{
  border: 2px solid rgb(74, 124, 233);
  width: 25px;
  font-size: 13px;
  height: 25px;
  text-align: center;
  padding: 4px 8.3px;
  border-radius: 25px;
}

.number-of-forms
{
  /* width: 50px; */
}

.site-logo{
  width: 240px;
  height: 120px;
}

.top-nav-bar a{
  color: #9f9ea1;
}

.text-light{
  color: #9f9ea1;
}

.text-grey{
  color: #c7c7c7;
}

.inner-wrapper{
  margin-top: -10px;
  /*background-image: linear-gradient(to right, red , yellow);*/
  background-image: linear-gradient(to right, #8764AA,#4C78A4,#5fb774);

}

.bread-crumbs{
  color: #ffffff;
  width: 400px;
}


.artboard{
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  display:flex;
  flex-direction:column;
}

.side-bar-wrapper{
  background-color: #f9f7fb;
  border-top-left-radius: 6px;
  padding-top:2.5em;
  padding-left: 0px;
  padding-right: 0px;


}

.sidebar{
  height: 100vh;
  flex:1;
}




#progress-bar-container {
  width: 100%;
  height: 17px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 35px;
  border: 1px solid #c8ebff;
  overflow: hidden;
}

.progress-bar-child {
  width: 100%;
  height: 100%;
}

.progress {
  color: white;
  text-align: center;
  line-height: 85px;
  font-size: 35px;
  font-family: "Segoe UI";
  animation-direction: reverse;
  background: #ffffff;

/*#8764AA - Purple
#4C78A4 - Blue
#2B9392 - Green*/
  /* Chrome10-25,Safari5.1-6 */

}

.pr-bg-start{
 background: linear-gradient(to right, #8764AA 100%, #4C78A4 0%, #2B9392 0%);
}

.pr-bg-mid{
 background: linear-gradient(to right, #8764AA 70%, #4C78A4 100%, #2B9392 0%);
}

.pr-bg-end{
 background: linear-gradient(to right, #8764AA 40%, #4C78A4 50%, #2B9392 100%);
}


.tax-year-port-wrapper select{
  border: none ;
  background-color: #f9f7fb;
  position: absolute;
  margin-top: 1;

}

.tax-year-port-wrapper select{
  font-size: 1.1em;
  color: #ababab;
}

.progress-text{
 color: #ababab;
}

.side-bar-wrapper{
  bottom: 0;
  transition: left 0.4s ease;

}


.dark-grey{
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: #808080;
  text-align: left;
  background-color: #f2eef9;
}


.light-grey {
  color: #818589;
}

.light-blue {
  color: #4C78A4;
}

.content-port{
  margin-left: 80px;
}

.margin-big {
  margin-top: 7rem; }

.button_primary {
  background-color: #0074c8;
}




.btn-site-primary:hover {
  color: #fff;
  background-color: #8764AA;
  border-color: #8764AA;
}

.btn-outline-secondary:active,.btn-outline-secondary.focus {
  color: #fff;
  background-color: #8764AA !important;
  border-color: #8764AA;
}

.btn-site-primary:focus {
 /* box-shadow: 0 0 0 0rem #8764AA !important;*/
}

.btn-active{
  color: #fff;
  background-color: #8764AA;
  border-color: #8764AA;
}

.btn-check:active + .btn-outline-secondary, .btn-check:checked + .btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active{
  background-color: #8764AA !important;
  border-color: #8764AA !important;
  box-shadow: 0 0 0 0rem #8764AA !important;
}

.btn-outline-info, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show, .btn-outline-info:active {

}

.breadcrumb li a{

}

#file_names,#file_name2, #file_name3 , #file_name4, #file_name5, #file_name6, #file_name7, #file_name8, #file_name9{
  font-size: 17px;
  color: #8764AA;

}

.cs-file-upload{
  position: relative;
  overflow: hidden;
}

.cs-file-upload input{
  position: absolute;
  font-size: 20px;
  opacity: 0;
  right: 0;
  top: 0;
}

.cs-breadcrumbs li{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cs-breadcrumbs li a{
   text-decoration: none !important;
}

.section-active {
  border-bottom: 2px solid #000 !important;
}

.error{
  color: red;
}

.display-none{
  display: none;
}

.clear-both{
  clear: both;
}


/* button checkbox */

.button-checkbox{
    margin: 4px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #6c757d;
    border-color: #6c757d;
    overflow: hidden;
    float: left;
  }

  .button-checkbox label {
    float: left; line-height: 3.0em;
    width: 8.0em; height: 3.0em;
  }

  .button-checkbox label span {
    text-align: center;
    padding: 3px 0;
    display: block;
  }

  .button-checkbox label input {
    position: absolute;
    display: none;
    color: #6c757d !important;
  }
  /* selects all of the text within the input element and changes the color of the text */
  .button-checkbox label input + span{color: #6c757d;}


  /* This will declare how a selected input will look giving generic properties */
  .button-checkbox input:checked + span {
      color: #fff;
      text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
      background-color: #8764AA;
  }



/*.btn-site-primary.disabled, .btn-site-primary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-site-primary:not(:disabled):not(.disabled):active, .btn-site-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #8764AA;
  border-color: #8764AA;
}

.btn-site-primary:not(:disabled):not(.disabled):active:focus, .btn-site-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-site-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #8764AA;
}*/

.bottom {
  width: 100%;
  height: 50px;
  background-color: blue;
}

/*.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row.content {
  flex: 1 1 auto;
}*/

@media only screen and (max-width: 768px) {

}//




@media (min-width: 576px) {

 }


@media (max-width: 768px) {


 }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }



